.elementor-6 .elementor-element.elementor-element-11596dd {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
}

.elementor-6 .elementor-element.elementor-element-11596dd:not(.elementor-motion-effects-element-type-background),
.elementor-6 .elementor-element.elementor-element-11596dd>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FF4949;
}

.elementor-widget-text-editor {
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
    color: var( --e-global-color-text);
}

.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {
    color: var( --e-global-color-primary);
    border-color: var( --e-global-color-primary);
}

.elementor-6 .elementor-element.elementor-element-e790ce1>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
}

.elementor-6 .elementor-element.elementor-element-e790ce1 {
    text-align: center;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
    color: #FFFFFF;
}

.elementor-6 .elementor-element.elementor-element-70140f5 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
}

.elementor-6 .elementor-element.elementor-element-e2206fe {
    --display: flex;
    --border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.11);
    --margin-top: 50px;
    --margin-bottom: 50px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-widget-image .widget-image-caption {
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-6 .elementor-element.elementor-element-ecb7cb9 img {
    width: 8%;
    border-radius: 10px 10px 10px 10px;
}

.elementor-6 .elementor-element.elementor-element-c8a02a9>.elementor-widget-container {
    margin: 40px 0px 0px 0px;
}

.elementor-6 .elementor-element.elementor-element-c8a02a9 {
    text-align: center;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
    color: #000000;
}

.elementor-6 .elementor-element.elementor-element-9034f97 {
    --e-image-carousel-slides-to-show: 1;
}

.elementor-6 .elementor-element.elementor-element-9034f97 .elementor-image-carousel-wrapper .elementor-image-carousel .swiper-slide-image {
    border-style: none;
    border-radius: 10px 10px 10px 10px;
}

.elementor-6 .elementor-element.elementor-element-7846e64 {
    text-align: center;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
    color: #000000;
}

.elementor-6 .elementor-element.elementor-element-245cc39 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
}

.elementor-6 .elementor-element.elementor-element-942d159 {
    --display: flex;
    --justify-content: center;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: -41px;
}

.elementor-6 .elementor-element.elementor-element-3f745f1 {
    text-align: left;
}

.elementor-6 .elementor-element.elementor-element-3f745f1 img {
    width: 83%;
    border-radius: 100px 100px 100px 100px;
}

.elementor-6 .elementor-element.elementor-element-c9f950c {
    --display: flex;
    --justify-content: center;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-6 .elementor-element.elementor-element-2d38abb>.elementor-widget-container {
    margin: 0px 0px -31px 0px;
}

.elementor-6 .elementor-element.elementor-element-2d38abb {
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
    color: #000000;
}

.elementor-6 .elementor-element.elementor-element-9f1e8af {
    font-family: "Roboto", Sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 1px;
    color: #676767;
}

.elementor-widget-progress .elementor-progress-wrapper .elementor-progress-bar {
    background-color: var( --e-global-color-primary);
}

.elementor-widget-progress .elementor-title {
    color: var( --e-global-color-primary);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-6 .elementor-element.elementor-element-d9f328d>.elementor-widget-container {
    margin: -10px 0px 0px 0px;
}

.elementor-6 .elementor-element.elementor-element-d9f328d .elementor-progress-wrapper .elementor-progress-bar {
    background-color: #b3692e;
}

.elementor-6 .elementor-element.elementor-element-d9f328d .elementor-progress-bar {
    height: 13px;
    line-height: 13px;
}

.elementor-6 .elementor-element.elementor-element-d9f328d .elementor-progress-wrapper {
    border-radius: 55px;
    overflow: hidden;
}

.elementor-6 .elementor-element.elementor-element-d9f328d .elementor-title {
    color: #b3692e;
    font-family: "Roboto", Sans-serif;
    font-weight: 600;
    line-height: 37px;
}

.elementor-6 .elementor-element.elementor-element-c8156f1>.elementor-widget-container {
    margin: -14px 0px 0px 0px;
}

.elementor-6 .elementor-element.elementor-element-c8156f1 {
    font-family: "Roboto", Sans-serif;
    font-weight: 700;
    color: #b3692e;
}

.elementor-6 .elementor-element.elementor-element-65df1ee {
    --display: flex;
    --align-items: center;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --border-radius: 10px 10px 10px 10px;
    --margin-top: 30px;
    --margin-bottom: 20px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-6 .elementor-element.elementor-element-65df1ee:not(.elementor-motion-effects-element-type-background),
.elementor-6 .elementor-element.elementor-element-65df1ee>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #b3692e;
}

.elementor-6 .elementor-element.elementor-element-65df1ee.e-con {
    --align-self: center;
}

.elementor-6 .elementor-element.elementor-element-f449a59>.elementor-widget-container {
    margin: 30px 20px 30px 20px;
}

.elementor-6 .elementor-element.elementor-element-f449a59 {
    text-align: center;
    font-family: "Roboto", Sans-serif;
    font-weight: 500;
    color: #FFFFFF;
}

.elementor-6 .elementor-element.elementor-element-3470393 {
    --display: flex;
    --align-items: center;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --border-radius: 10px 10px 10px 10px;
    --margin-top: 0px;
    --margin-bottom: 40px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-6 .elementor-element.elementor-element-3470393:not(.elementor-motion-effects-element-type-background),
.elementor-6 .elementor-element.elementor-element-3470393>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FCFCFC;
}

.elementor-6 .elementor-element.elementor-element-3470393.e-con {
    --align-self: center;
}

.elementor-6 .elementor-element.elementor-element-bd7bee2>.elementor-widget-container {
    margin: 30px 0px 0px 0px;
}

.elementor-6 .elementor-element.elementor-element-bd7bee2 img {
    width: 22%;
}

.elementor-6 .elementor-element.elementor-element-a0ad270>.elementor-widget-container {
    margin: 0px 0px -10px 0px;
}

.elementor-6 .elementor-element.elementor-element-a0ad270 {
    text-align: center;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
    line-height: 20px;
    color: #717171;
}

.elementor-widget-button .elementor-button {
    background-color: var( --e-global-color-accent);
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-weight: var( --e-global-typography-accent-font-weight);
}

.elementor-6 .elementor-element.elementor-element-2f87e02 .elementor-button {
    background-color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-weight: 500;
    fill: #7A7A7A;
    color: #7A7A7A;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.19) inset;
}

.elementor-6 .elementor-element.elementor-element-7f4e9e2>.elementor-widget-container {
    margin: -30px 0px 20px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-6 .elementor-element.elementor-element-3eee76a>.elementor-widget-container {
    margin: 30px 0px -0px 0px;
}

.elementor-6 .elementor-element.elementor-element-3eee76a {
    text-align: center;
    color: #0C0601;
}

.elementor-6 .elementor-element.elementor-element-9c40072>.elementor-widget-container {
    margin: -20px 0px -5px 0px;
}

.elementor-6 .elementor-element.elementor-element-9c40072 {
    text-align: center;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
    color: #b3692e;
}

.elementor-6 .elementor-element.elementor-element-6bea5b4 img {
    border-radius: 10px 10px 10px 10px;
}

.elementor-6 .elementor-element.elementor-element-0c86155 img {
    border-radius: 10px 10px 10px 10px;
}

.elementor-6 .elementor-element.elementor-element-574a9c6 img {
    border-radius: 10px 10px 10px 10px;
}

.elementor-6 .elementor-element.elementor-element-6dd859f img {
    border-radius: 10px 10px 10px 10px;
}

.elementor-6 .elementor-element.elementor-element-e03fdcb img {
    border-radius: 10px 10px 10px 10px;
}

.elementor-6 .elementor-element.elementor-element-7720237 img {
    border-radius: 10px 10px 10px 10px;
}

.elementor-6 .elementor-element.elementor-element-9518085 img {
    border-radius: 10px 10px 10px 10px;
}

.elementor-6 .elementor-element.elementor-element-871b169>.elementor-widget-container {
    margin: 30px 0px -15px 0px;
}

.elementor-6 .elementor-element.elementor-element-871b169 {
    text-align: center;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
    color: var( --e-global-color-text);
}

.elementor-6 .elementor-element.elementor-element-ff67477>.elementor-widget-container {
    margin: -20px 0px -5px 0px;
}

.elementor-6 .elementor-element.elementor-element-ff67477 {
    text-align: center;
    color: #b3692e;
}

.elementor-6 .elementor-element.elementor-element-88e7252 img {
    border-radius: 10px 10px 10px 10px;
}

.elementor-6 .elementor-element.elementor-element-243c7fa>.elementor-widget-container {
    margin: -20px 0px -5px 0px;
}

.elementor-6 .elementor-element.elementor-element-243c7fa {
    text-align: center;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
    color: #b3692e;
}

.elementor-6 .elementor-element.elementor-element-3b486b3 .elementor-button {
    background-color: #22A744;
    font-family: "Roboto", Sans-serif;
    font-weight: 500;
}

.elementor-6 .elementor-element.elementor-element-3b486b3>.elementor-widget-container {
    margin: 0px 0px 50px 0px;
}

.elementor-6 .elementor-element.elementor-element-43bb5b1 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
}

.elementor-6 .elementor-element.elementor-element-43bb5b1:not(.elementor-motion-effects-element-type-background),
.elementor-6 .elementor-element.elementor-element-43bb5b1>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #b3692e;
}

.elementor-6 .elementor-element.elementor-element-bd420e1>.elementor-widget-container {
    margin: 50px 0px 0px 0px;
}

.elementor-6 .elementor-element.elementor-element-bd420e1 img {
    width: 9%;
    border-radius: 10px 10px 10px 10px;
}

.elementor-6 .elementor-element.elementor-element-d1ecc65 {
    text-align: center;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
    color: #FFFFFF;
}

@media(min-width:768px) {
    .elementor-6 .elementor-element.elementor-element-70140f5 {
        --content-width: 500px;
    }
    .elementor-6 .elementor-element.elementor-element-942d159 {
        --width: 35%;
    }
    .elementor-6 .elementor-element.elementor-element-65df1ee {
        --width: 90%;
    }
    .elementor-6 .elementor-element.elementor-element-3470393 {
        --width: 90%;
    }
}

@media(max-width:767px) {
    .elementor-6 .elementor-element.elementor-element-e790ce1>.elementor-widget-container {
        margin: 5px 0px -10px 0px;
    }
    .elementor-6 .elementor-element.elementor-element-e790ce1 {
        text-align: center;
        font-size: 18px;
        line-height: 1.2em;
    }
    .elementor-6 .elementor-element.elementor-element-70140f5 {
        --min-height: 100vh;
    }
    .elementor-6 .elementor-element.elementor-element-e2206fe {
        --border-radius: 10px 10px 10px 10px;
        --margin-top: 20px;
        --margin-bottom: 50px;
        --margin-left: 0px;
        --margin-right: 0px;
    }
    .elementor-6 .elementor-element.elementor-element-ecb7cb9>.elementor-widget-container {
        margin: 10px 0px 0px 0px;
    }
    .elementor-6 .elementor-element.elementor-element-ecb7cb9 img {
        width: 18%;
        border-radius: 6px 6px 6px 6px;
    }
    .elementor-6 .elementor-element.elementor-element-c8a02a9>.elementor-widget-container {
        margin: 0px 0px -15px 0px;
    }
    .elementor-6 .elementor-element.elementor-element-c8a02a9 {
        text-align: center;
        font-size: 14px;
        line-height: 1.2em;
    }
    .elementor-6 .elementor-element.elementor-element-9034f97 {
        --e-image-carousel-slides-to-show: 1;
    }
    .elementor-6 .elementor-element.elementor-element-9034f97>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-6 .elementor-element.elementor-element-9034f97 .elementor-image-carousel-wrapper .elementor-image-carousel .swiper-slide-image {
        border-radius: 10px 10px 10px 10px;
    }
    .elementor-6 .elementor-element.elementor-element-7846e64 {
        text-align: center;
        font-size: 16px;
        line-height: 0.4em;
    }
    .elementor-6 .elementor-element.elementor-element-245cc39 {
        --flex-direction: row;
        --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
        --container-widget-height: 100%;
        --container-widget-flex-grow: 1;
        --container-widget-align-self: stretch;
        --flex-wrap-mobile: wrap;
        --justify-content: flex-start;
        --align-items: center;
    }
    .elementor-6 .elementor-element.elementor-element-245cc39.e-con {
        --align-self: flex-start;
    }
    .elementor-6 .elementor-element.elementor-element-942d159 {
        --width: 70px;
        --justify-content: center;
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-6 .elementor-element.elementor-element-3f745f1 img {
        width: 100%;
        border-radius: 100px 100px 100px 100px;
    }
    .elementor-6 .elementor-element.elementor-element-c9f950c {
        --width: 200px;
        --flex-direction: column;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --flex-wrap-mobile: wrap;
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: -15px;
        --margin-right: 0px;
    }
    .elementor-6 .elementor-element.elementor-element-c9f950c.e-con {
        --align-self: center;
    }
    .elementor-6 .elementor-element.elementor-element-2d38abb>.elementor-widget-container {
        margin: 0px 0px -23px 0px;
    }
    .elementor-6 .elementor-element.elementor-element-2d38abb {
        text-align: left;
        font-size: 13px;
        line-height: 1em;
    }
    .elementor-6 .elementor-element.elementor-element-9f1e8af>.elementor-widget-container {
        margin: 0px 0px -10px 0px;
    }
    .elementor-6 .elementor-element.elementor-element-9f1e8af {
        text-align: left;
        font-size: 10px;
        line-height: 0.1em;
    }
    .elementor-6 .elementor-element.elementor-element-d9f328d>.elementor-widget-container {
        margin: -13px 10px 0px 10px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-6 .elementor-element.elementor-element-d9f328d .elementor-title {
        font-size: 16px;
    }
    .elementor-6 .elementor-element.elementor-element-c8156f1>.elementor-widget-container {
        margin: -10px 0px -14px 10px;
    }
    .elementor-6 .elementor-element.elementor-element-c8156f1 {
        text-align: left;
        font-size: 16px;
        line-height: 1em;
    }
    .elementor-6 .elementor-element.elementor-element-65df1ee {
        --margin-top: 20px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
    }
    .elementor-6 .elementor-element.elementor-element-f449a59>.elementor-widget-container {
        margin: 20px 0px 0px 0px;
    }
    .elementor-6 .elementor-element.elementor-element-f449a59 {
        text-align: center;
    }
    .elementor-6 .elementor-element.elementor-element-9d38c79>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-6 .elementor-element.elementor-element-3470393 {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
    }
    .elementor-6 .elementor-element.elementor-element-bd7bee2 img {
        width: 35%;
    }
    .elementor-6 .elementor-element.elementor-element-a0ad270 {
        line-height: 1.3em;
    }
    .elementor-6 .elementor-element.elementor-element-2f87e02>.elementor-widget-container {
        margin: 0px 0px -10px 0px;
    }
    .elementor-6 .elementor-element.elementor-element-2f87e02 .elementor-button {
        font-size: 14px;
        border-radius: 5px 5px 5px 5px;
        padding: 15px 40px 15px 40px;
    }
    .elementor-6 .elementor-element.elementor-element-7f4e9e2>.elementor-widget-container {
        margin: -20px 10px 20px 10px;
    }
    .elementor-6 .elementor-element.elementor-element-3eee76a>.elementor-widget-container {
        margin: 30px 0px -10px 0px;
    }
    .elementor-6 .elementor-element.elementor-element-9c40072>.elementor-widget-container {
        margin: -15px 10px -15px 0px;
    }
    .elementor-6 .elementor-element.elementor-element-9c40072 {
        text-align: center;
        line-height: 1.3em;
    }
    .elementor-6 .elementor-element.elementor-element-6bea5b4 img {
        border-radius: 10px 10px 10px 10px;
    }
    .elementor-6 .elementor-element.elementor-element-0c86155 img {
        border-radius: 10px 10px 10px 10px;
    }
    .elementor-6 .elementor-element.elementor-element-574a9c6 img {
        border-radius: 10px 10px 10px 10px;
    }
    .elementor-6 .elementor-element.elementor-element-6dd859f img {
        border-radius: 10px 10px 10px 10px;
    }
    .elementor-6 .elementor-element.elementor-element-e03fdcb img {
        border-radius: 10px 10px 10px 10px;
    }
    .elementor-6 .elementor-element.elementor-element-7720237 img {
        border-radius: 10px 10px 10px 10px;
    }
    .elementor-6 .elementor-element.elementor-element-9518085 img {
        border-radius: 10px 10px 10px 10px;
    }
    .elementor-6 .elementor-element.elementor-element-871b169 {
        text-align: center;
    }
    .elementor-6 .elementor-element.elementor-element-ff67477>.elementor-widget-container {
        margin: -20px 0px -15px 0px;
    }
    .elementor-6 .elementor-element.elementor-element-ff67477 {
        text-align: center;
    }
    .elementor-6 .elementor-element.elementor-element-88e7252 img {
        border-radius: 10px 10px 10px 10px;
    }
    .elementor-6 .elementor-element.elementor-element-243c7fa>.elementor-widget-container {
        margin: 0px 10px -15px 10px;
    }
    .elementor-6 .elementor-element.elementor-element-243c7fa {
        text-align: center;
        line-height: 1.3em;
    }
    .elementor-6 .elementor-element.elementor-element-3b486b3>.elementor-widget-container {
        margin: 0px 0px 50px 0px;
    }
    .elementor-6 .elementor-element.elementor-element-3b486b3 .elementor-button {
        font-size: 16px;
        padding: 20px 70px 20px 70px;
    }
    .elementor-6 .elementor-element.elementor-element-bd420e1>.elementor-widget-container {
        margin: 20px 0px 0px 0px;
    }
    .elementor-6 .elementor-element.elementor-element-bd420e1 img {
        width: 21%;
        border-radius: 6px 6px 6px 6px;
    }
    .elementor-6 .elementor-element.elementor-element-d1ecc65 {
        text-align: center;
        font-size: 10px;
    }
}

/* Start custom CSS for html, class: .elementor-element-30f6f15 */

/* Add your desired styles here */

.container {
    text-align: center;
    margin-top: 50px;
}

.hidden {
    display: none;
}

/* End custom CSS */